<img src="Figures/top_ML.png" alt="Drawing" style="width: 1000px;"/>

# Estadística

In [1]:
import pandas as pd #importamos Pandas!
import matplotlib.pyplot as plt #importamos matplotlib para hacer gráficos
import seaborn as sns #importamos seaborn para hacer gráficos

C:\Users\marcjene\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Importamos Excel
consumos = pd.read_excel('Data/data-consumo-usuarios-oversampling.xlsx')
consumos.head()

,CUPs,cluster,h-0,h-1,h-2,h-3,h-4,h-5,h-6,h-7,...,h-14,h-15,h-16,h-17,h-18,h-19,h-20,h-21,h-22,h-23
0,100001,0,1.38825,1.27750,1.33300,1.18200,1.16975,1.45550,1.34650,1.67500,...,3.51475,3.47500,2.99525,5.05475,3.07300,2.92225,2.71925,2.81200,1.99375,1.3035
1,100002,0,1.32600,1.21750,1.36875,1.13925,1.17775,1.43775,1.33775,1.34300,...,2.69000,2.77850,2.70525,3.05175,2.99225,2.61175,2.59775,2.66325,1.26450,1.2275
2,100003,0,1.21200,1.29750,1.10275,1.08825,1.12450,1.16650,1.11525,1.30150,...,2.46725,2.25600,2.60200,2.38925,2.56550,2.71550,6.05875,2.66100,2.26025,1.1555
3,100004,0,1.08925,1.08125,1.11825,1.05975,1.12675,1.08775,1.12525,1.09100,...,2.21900,2.25625,2.18575,2.60575,2.54750,2.44475,2.48825,2.73000,1.18325,1.1970
4,100005,0,0.90800,0.88075,1.03975,0.82750,1.02300,0.98700,1.07275,1.19575,...,2.76200,2.90275,2.70900,2.76900,2.78775,2.67200,3.27650,2.76150,3.36600,2.1470

In [3]:
# Buscamos valores en cluster

In [4]:
# Buscamos número de CUPs/clientes

Forma

In [5]:
# Forma del dataset (444 filas, 26 columnas)
# Las columnas son (1) CUPs, (1) cluster y (24) consumo horario (de h-0 a h-23)

In [6]:
# Resumen del dataset

In [7]:
# Miramos si hay algun valor NaN
# Corregimos si es necesario

In [8]:
# Vamos a ver cuantos casos tenemos en cada uno de los clusters. Tenemos un dataset balanceado?
# Casos cluster==0

# Casos cluster=1

In [9]:
# Creamos dos dataframes (uno por cluster) para analizarlos por separado

In [10]:
# Comparacion consumo horario promedio

In [11]:
# Eliminamos la columna 'cluster' para poder hacer un plot de las distintas curvas de carga

# Hacemos que la columna CUPs sea el indice (tiene sentido, ya que cada fila tiene un valor distinto e identifica el SM)

# Transponemos la matriz, por facilidad de hacer el plot

# Cambiamos el nombre del índice a "hour"