## Estadística descriptiva y EDA

In [1]:
import pandas as pd

In [2]:
# Importamos el dataset que usaremos
pokemones = pd.read_csv('Data/pokemon.csv')
pokemones.head()

,#,Nombre,Tipo,Total,Salud,Ataque,Defensa,Ataque Especial,Defensa Especial,Velocidad,Legendario
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45,False
1,2,Ivysaur,Grass,405,60,62,63,80,80,60,False
2,3,Venusaur,Grass,525,80,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,False
4,4,Charmander,Fire,309,39,52,43,60,50,65,False

#### Ejercicio 1
Obtener el numero total de pokemones que son LEGENDARIOS

In [3]:
# Número pokemones legendarios

#                    int64
Nombre              object
Tipo                object
Total                int64
Salud                int64
Ataque               int64
Defensa              int64
Ataque Especial      int64
Defensa Especial     int64
Velocidad            int64
Legendario            bool
dtype: object

#### Ejercicio 2
Devolver un dataframe con los pokemones ordenados de mayor a menor ataque

In [2]:
# Devolver un dataframe con los pokemones ordenados de mayor a menor ataque

#### Ejercicio 3
¿Cuáles son los 5 pokemones de tipo Water mas poderosos (con mayor ataque)?

In [3]:
# Obtener los 5 pokemones de agua más poderosos

#### Ejercicio 4
Obtener la media de Ataque de los Pokemones tipo Fuego (Fire)

In [4]:
# Obtener la media de ataques de los pokemones tipo fuego

#### Ejercicio 5
Obtener la moda en los tipos de Pokemon. ¿Que tipo de pokemon predomina? (Ej. Grass, Bug, Water etc...)

In [5]:
# Obtener el tipo de pokemon que aparece más veces en el dataset