## Estadística descriptiva y EDA

In [2]:
import pandas as pd

In [3]:
# Importamos el dataset que usaremos
pokemones = pd.read_csv('Data/pokemon.csv')
pokemones.head()

,#,Nombre,Tipo,Total,Salud,Ataque,Defensa,Ataque Especial,Defensa Especial,Velocidad,Legendario
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45,False
1,2,Ivysaur,Grass,405,60,62,63,80,80,60,False
2,3,Venusaur,Grass,525,80,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,False
4,4,Charmander,Fire,309,39,52,43,60,50,65,False

#### Ejercicio 4
Obtener el numero total de pokemones que son LEGENDARIOS

In [4]:
# Número pokemones legendarios
len(pokemones[pokemones['Legendario'] == True])

65

#### Ejercicio 5
Devolver un dataframe con los pokemones ordenados de mayor a menor ataque

In [5]:
# Devolver un dataframe con los pokemones ordenados de mayor a menor ataque
pokemones.sort_values(by='Ataque', ascending= False)

,#,Nombre,Tipo,Total,Salud,Ataque,Defensa,Ataque Especial,Defensa Especial,Velocidad,Legendario
163,150,MewtwoMega Mewtwo X,Psychic,780,106,190,100,154,100,130,True
232,214,HeracrossMega Heracross,Bug,600,80,185,115,40,105,75,False
424,383,GroudonPrimal Groudon,Ground,770,100,180,160,150,90,90,True
426,384,RayquazaMega Rayquaza,Dragon,780,105,180,100,180,100,115,True
429,386,DeoxysAttack Forme,Psychic,600,50,180,20,180,20,150,True
...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,200,20,10,55,15,20,80,False
261,242,Blissey,Normal,540,255,10,10,75,135,55,False
230,213,Shuckle,Bug,505,20,10,230,10,230,5,False
121,113,Chansey,Normal,450,250,5,5,35,105,50,False
488,440,Happiny,Normal,220,100,5,5,15,65,30,False

#### Ejercicio 6
¿Cuáles son los 5 pokemones de tipo Water mas poderosos (con mayor ataque)?

In [6]:
# Obtener los 5 pokemones de agua más poderosos
agua = pokemones[pokemones['Tipo'] == 'Water']
agua.sort_values(by='Ataque', ascending= False).head(5)

,#,Nombre,Tipo,Total,Salud,Ataque,Defensa,Ataque Especial,Defensa Especial,Velocidad,Legendario
141,130,GyaradosMega Gyarados,Water,640,95,155,109,70,130,81,False
283,260,SwampertMega Swampert,Water,635,100,150,110,95,110,70,False
422,382,KyogrePrimal Kyogre,Water,770,100,150,90,180,160,90,True
349,319,SharpedoMega Sharpedo,Water,560,70,140,70,110,65,105,False
107,99,Kingler,Water,475,55,130,115,50,50,75,False

#### Ejercicio 7
Obtener la media de Ataque de los Pokemones tipo Fuego (Fire)

In [7]:
# Obtener la media de ataques de los pokemones tipo fuego
pokemones[pokemones['Tipo'] == 'Fire']['Ataque'].mean()

84.76923076923077

#### Ejercicio 8
Obtener la moda en los tipos de Pokemon. ¿Que tipo de pokemon predomina? (Ej. Grass, Bug, Water etc...)

In [8]:
# Obtener el tipo de pokemon que aparece más veces en el dataset
pokemones['Tipo'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Tipo, dtype: int64